<%- include("./partials/header.ejs") %>

<main>
  <%- include("./partials/post.ejs", {title: "I'm a title", subtitle: "I'm a subtitle"}) %>
  <%- include("./partials/post.ejs", {title: "I'm a title", subtitle: "I'm a subtitle"}) %>
  <%- include("./partials/post.ejs", {title: "I'm a title", subtitle: "I'm a subtitle"}) %>
  <%- include("./partials/post.ejs", {title: "I'm a title", subtitle: "I'm a subtitle"}) %>
</main>

<%- include("./partials/footer.ejs") %>
